:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Elementos base*/
body {
  background: var(--preta);
  font-family: "Arial", Times, serif;
  color: white;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h1 {
  padding-top: 60px;
}
header .logo {
  margin-left: 5px;
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/*filme principal*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%);


  height: 700px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#myVideo {
  position: relative;
  object-fit: cover;
  min-width: 100%;
  min-height: 50%;
  width: 100%;
  height: auto;
  left: 0;
}
.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  top: auto;
  height: auto;
  left: auto;
}

.filme-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.filme-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;

  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;

  cursor: pointer;
  transition: 0.3s ease all;
  text-decoration: none;
}

.botao:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.botao i {
  margin-right: 8px;
}

.container {
  margin-left: 20px;
}

.filme-principal .container {
  width: 70%;
}

.box-filme {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box-filme a {
  transition: transform 0.3s;
}

.box-filme a:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.box-filme img {
  border-radius: 1px;
}
.carrosel-filmes {
  margin-top: 5px;
}
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/*Resposive*/
@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 300px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
